In [ ]:
! pip install -r requirements.txt

In [2]:
# Loading the data
import pandas as pd
import numpy as np

In [3]:
import json
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
import base64

In [5]:
df_aoq = pd.read_csv("aqs_PM2.5_data_clean.csv")

In [6]:
df_aoq.head()

,Unnamed: 0,date_local,county,city,latitude,longitude,aqi,units_of_measure,first_max_value,first_max_hour
0,0,2013-12-30,Humboldt,Not in a city,40.71528,-124.20139,23.0,Micrograms/cubic meter (LC),5.5,0
1,1,2013-12-30,Humboldt,Not in a city,40.71528,-124.20139,23.0,Micrograms/cubic meter (LC),5.5,0
2,2,2013-12-30,Humboldt,Not in a city,40.71528,-124.20139,23.0,Micrograms/cubic meter (LC),5.5,0
3,3,2013-12-30,Humboldt,Not in a city,40.71528,-124.20139,23.0,Micrograms/cubic meter (LC),5.5,0
4,4,2013-12-27,Humboldt,Not in a city,40.71528,-124.20139,38.0,Micrograms/cubic meter (LC),9.1,0

In [12]:
type(df_aoq)

pandas.core.frame.DataFrame

In [19]:
df_aoq["county"].unique()

array(['Humboldt', 'Riverside', 'Ventura', 'San Diego', 'Sacramento',
       'Shasta', 'Tulare', 'Santa Clara', 'Monterey', 'Placer',
       'Los Angeles', 'San Bernardino', 'Stanislaus', 'Orange', 'Merced',
       'Inyo', 'Fresno', 'Kings', 'Butte', 'Imperial', 'Kern', 'Nevada',
       'Lake', 'Sutter', 'Yolo', 'Madera', 'Mendocino', 'Sonoma',
       'Santa Barbara', 'Contra Costa', 'San Luis Obispo', 'Napa',
       'Alameda', 'Santa Cruz', 'San Joaquin', 'Marin', 'San Francisco',
       'San Mateo', 'Solano', 'San Benito', 'Tehama', 'Del Norte'],
      dtype=object)

In [32]:
df_aoq["county"].value_counts()

Los Angeles        82227
Fresno             69570
Ventura            69570
Riverside          68838
Alameda            55672
San Diego          47815
San Luis Obispo    44724
Sacramento         41248
Santa Barbara      38818
San Bernardino     38356
Monterey           37560
Santa Clara        36108
Kern               35379
San Joaquin        33278
Inyo               25494
Imperial           24218
Contra Costa       23837
Stanislaus         23416
Solano             22988
Santa Cruz         22331
Mendocino          21566
Orange             20541
Kings              19906
Placer             16159
Merced             14829
Madera             14685
San Benito         11732
San Francisco      11628
San Mateo          11561
Napa               11560
Sonoma             11548
Marin              11472
Butte              10728
Sutter             10720
Nevada              8909
Humboldt            8620
Tehama              7240
Tulare              3701
Shasta              2712
Lake                2020
Del Norte           1888
Yolo                1796
Name: county, dtype: int64

In [48]:
df_aoq["date_local"].value_counts()

2018-11-10    580
2020-09-12    573
2020-10-18    572
2020-08-07    568
2020-10-06    568
             ...
2021-05-17      4
2021-05-26      4
2021-05-31      4
2021-05-12      4
2021-05-01      4
Name: date_local, Length: 3071, dtype: int64

In [34]:
df_aoq["date_local"]=pd.to_datetime(df_aoq["date_local"])

In [47]:
df_aoq["date_local"]=pd.to_datetime(df_aoq["date_local"])
df_aoq["date_local"]

0         2013-12-30
1         2013-12-30
2         2013-12-30
3         2013-12-30
4         2013-12-27
             ...
1076963   2021-01-02
1076964   2021-01-01
1076965   2021-01-01
1076966   2021-01-01
1076967   2021-01-01
Name: date_local, Length: 1076968, dtype: datetime64[ns]

In [49]:
df_aoq["date_local"].value_counts()

2018-11-10    580
2020-09-12    573
2020-10-18    572
2020-08-07    568
2020-10-06    568
             ...
2021-05-17      4
2021-05-26      4
2021-05-31      4
2021-05-12      4
2021-05-01      4
Name: date_local, Length: 3071, dtype: int64

In [50]:
df_aoq["date_local"].dt.year

0          2013
1          2013
2          2013
3          2013
4          2013
           ...
1076963    2021
1076964    2021
1076965    2021
1076966    2021
1076967    2021
Name: date_local, Length: 1076968, dtype: int64

In [51]:
df_aoq["Year"]=df_aoq["date_local"].dt.year

In [53]:
df_aoq.Year.value_counts()

2020    148407
2018    145216
2019    144649
2017    140540
2016    135334
2015    123712
2013    111619
2014    111486
2021     16005
Name: Year, dtype: int64

In [67]:
aoq=df_aoq.groupby(["Year","county"]).agg({'county':'count','aqi':['min','max','mean'],'first_max_value':['min','max','mean'],'first_max_hour':['min','max','mean']})

In [81]:
aoq

                  county   aqi                   first_max_value         \
                   count   min    max       mean             min    max
Year county
2013 Alameda        4177   0.0  119.0  40.067273            -0.1   42.7
     Butte          1292   4.0  109.0  38.229102             1.0   38.8
     Contra Costa   2868   4.0  115.0  38.174338             0.9   41.2
     Fresno         6409   2.0  176.0  51.877204             0.4  103.4
     Humboldt       1756   1.0   85.0  29.505695             0.3   28.1
...                  ...   ...    ...        ...             ...    ...
2021 Santa Cruz      712   0.0   73.0  22.544944             0.0   22.4
     Solano          472  11.0   84.0  39.694915             2.7   27.7
     Sonoma          236  11.0   67.0  29.050847             2.6   19.7
     Tehama          308   5.0   74.0  25.077922             1.3   23.2
     Ventura        2752   0.0   67.0  24.302326            -1.0   19.5

                             first_max_hour
                        mean            min max mean
Year county
2013 Alameda       10.558774              0   0  0.0
     Butte         10.334056              0   0  0.0
     Contra Costa   9.808089              0   0  0.0
     Fresno        15.504931              0   0  0.0
     Humboldt       7.311845              0   0  0.0
...                      ...            ...  ..  ...
2021 Santa Cruz     5.471348              0   0  0.0
     Solano        10.187288              0   0  0.0
     Sonoma         7.032203              0   0  0.0
     Tehama         6.257143              0   0  0.0
     Ventura        5.872529              0   0  0.0

[355 rows x 10 columns]

In [94]:
type(aoq)

pandas.core.frame.DataFrame

In [95]:
aoq.to_csv("aoq_agg_data.csv", encoding="utf-8", index=False)