In [1]:
! pip install -r requirements.txt

Requirement already satisfied: numpy in /Library/Frameworks/Python.framework/Versions/3.8/lib/python3.8/site-packages (from -r requirements.txt (line 1)) (1.19.5)
Requirement already satisfied: pandas in /Library/Frameworks/Python.framework/Versions/3.8/lib/python3.8/site-packages (from -r requirements.txt (line 2)) (1.2.0)
Requirement already satisfied: seaborn in /Library/Frameworks/Python.framework/Versions/3.8/lib/python3.8/site-packages (from -r requirements.txt (line 3)) (0.11.1)
Requirement already satisfied: matplotlib in /Library/Frameworks/Python.framework/Versions/3.8/lib/python3.8/site-packages (from -r requirements.txt (line 4)) (3.3.3)
Requirement already satisfied: siuba in /Library/Frameworks/Python.framework/Versions/3.8/lib/python3.8/site-packages (from -r requirements.txt (line 5)) (0.0.24)
Requirement already satisfied: CensusData in /Library/Frameworks/Python.framework/Versions/3.8/lib/python3.8/site-packages (from -r requirements.txt (line 6)) (1.13)
Requirement already satisfied: scipy in /Library/Frameworks/Python.framework/Versions/3.8/lib/python3.8/site-packages (from -r requirements.txt (line 7)) (1.6.3)
Requirement already satisfied: requests in /Library/Frameworks/Python.framework/Versions/3.8/lib/python3.8/site-packages (from CensusData->-r requirements.txt (line 6)) (2.25.1)
Requirement already satisfied: kiwisolver>=1.0.1 in /Library/Frameworks/Python.framework/Versions/3.8/lib/python3.8/site-packages (from matplotlib->-r requirements.txt (line 4)) (1.3.1)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.3 in /Library/Frameworks/Python.framework/Versions/3.8/lib/python3.8/site-packages (from matplotlib->-r requirements.txt (line 4)) (2.4.7)
Requirement already satisfied: python-dateutil>=2.1 in /Library/Frameworks/Python.framework/Versions/3.8/lib/python3.8/site-packages (from matplotlib->-r requirements.txt (line 4)) (2.8.1)
Requirement already satisfied: cycler>=0.10 in /Library/Frameworks/Python.framework/Versions/3.8/lib/python3.8/site-packages (from matplotlib->-r requirements.txt (line 4)) (0.10.0)
Requirement already satisfied: pillow>=6.2.0 in /Library/Frameworks/Python.framework/Versions/3.8/lib/python3.8/site-packages (from matplotlib->-r requirements.txt (line 4)) (8.1.0)
Requirement already satisfied: six in /Library/Frameworks/Python.framework/Versions/3.8/lib/python3.8/site-packages (from cycler>=0.10->matplotlib->-r requirements.txt (line 4)) (1.15.0)
Requirement already satisfied: pytz>=2017.3 in /Library/Frameworks/Python.framework/Versions/3.8/lib/python3.8/site-packages (from pandas->-r requirements.txt (line 2)) (2020.5)
Requirement already satisfied: PyYAML>=3.0.0 in /Library/Frameworks/Python.framework/Versions/3.8/lib/python3.8/site-packages (from siuba->-r requirements.txt (line 5)) (5.4.1)
Requirement already satisfied: SQLAlchemy>=1.1.18 in /Library/Frameworks/Python.framework/Versions/3.8/lib/python3.8/site-packages (from siuba->-r requirements.txt (line 5)) (1.4.17)
Requirement already satisfied: greenlet!=0.4.17 in /Library/Frameworks/Python.framework/Versions/3.8/lib/python3.8/site-packages (from SQLAlchemy>=1.1.18->siuba->-r requirements.txt (line 5)) (1.1.0)
Requirement already satisfied: certifi>=2017.4.17 in /Library/Frameworks/Python.framework/Versions/3.8/lib/python3.8/site-packages (from requests->CensusData->-r requirements.txt (line 6)) (2020.12.5)
Requirement already satisfied: chardet<5,>=3.0.2 in /Library/Frameworks/Python.framework/Versions/3.8/lib/python3.8/site-packages (from requests->CensusData->-r requirements.txt (line 6)) (4.0.0)
Requirement already satisfied: idna<3,>=2.5 in /Library/Frameworks/Python.framework/Versions/3.8/lib/python3.8/site-packages (from requests->CensusData->-r requirements.txt (line 6)) (2.10)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /Library/Frameworks/Python.framework/Versions/3.8/lib/python3.8/site-packages (from requests->CensusData->-r requirements.txt (line 6)) (1.26.2)
WARNING: You are using pip version 20.3.3; however, version 21.1.2 is available.
You should consider upgrading via the '/Library/Frameworks/Python.framework/Versions/3.8/bin/python3.8 -m pip install --upgrade pip' command.

In [2]:
# Loading the data
import pandas as pd
import numpy as np

In [3]:
import json
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
import base64

In [6]:
df_aoq = pd.read_csv("aqs_PM2.5_data_clean.csv")

In [7]:
df_aoq.head()

,Unnamed: 0,date_local,county,city,latitude,longitude,aqi,units_of_measure,first_max_value,first_max_hour
0,0,2013-12-30,Humboldt,Not in a city,40.71528,-124.20139,23.0,Micrograms/cubic meter (LC),5.5,0
1,1,2013-12-30,Humboldt,Not in a city,40.71528,-124.20139,23.0,Micrograms/cubic meter (LC),5.5,0
2,2,2013-12-30,Humboldt,Not in a city,40.71528,-124.20139,23.0,Micrograms/cubic meter (LC),5.5,0
3,3,2013-12-30,Humboldt,Not in a city,40.71528,-124.20139,23.0,Micrograms/cubic meter (LC),5.5,0
4,4,2013-12-27,Humboldt,Not in a city,40.71528,-124.20139,38.0,Micrograms/cubic meter (LC),9.1,0

In [8]:
type(df_aoq)

pandas.core.frame.DataFrame

In [9]:
df_aoq["county"].unique()

array(['Humboldt', 'Riverside', 'Ventura', 'San Diego', 'Sacramento',
       'Shasta', 'Tulare', 'Santa Clara', 'Monterey', 'Placer',
       'Los Angeles', 'San Bernardino', 'Stanislaus', 'Orange', 'Merced',
       'Inyo', 'Fresno', 'Kings', 'Butte', 'Imperial', 'Kern', 'Nevada',
       'Lake', 'Sutter', 'Yolo', 'Madera', 'Mendocino', 'Sonoma',
       'Santa Barbara', 'Contra Costa', 'San Luis Obispo', 'Napa',
       'Alameda', 'Santa Cruz', 'San Joaquin', 'Marin', 'San Francisco',
       'San Mateo', 'Solano', 'San Benito', 'Tehama', 'Del Norte'],
      dtype=object)

In [10]:
df_aoq["county"].value_counts()

Los Angeles        82227
Ventura            69570
Fresno             69570
Riverside          68838
Alameda            55672
San Diego          47815
San Luis Obispo    44724
Sacramento         41248
Santa Barbara      38818
San Bernardino     38356
Monterey           37560
Santa Clara        36108
Kern               35379
San Joaquin        33278
Inyo               25494
Imperial           24218
Contra Costa       23837
Stanislaus         23416
Solano             22988
Santa Cruz         22331
Mendocino          21566
Orange             20541
Kings              19906
Placer             16159
Merced             14829
Madera             14685
San Benito         11732
San Francisco      11628
San Mateo          11561
Napa               11560
Sonoma             11548
Marin              11472
Butte              10728
Sutter             10720
Nevada              8909
Humboldt            8620
Tehama              7240
Tulare              3701
Shasta              2712
Lake                2020
Del Norte           1888
Yolo                1796
Name: county, dtype: int64

In [11]:
df_aoq["date_local"].value_counts()

2018-11-10    580
2020-09-12    573
2020-10-18    572
2020-08-07    568
2020-10-06    568
             ...
2021-05-03      4
2021-05-01      4
2021-05-10      4
2021-05-06      4
2021-05-31      4
Name: date_local, Length: 3071, dtype: int64

In [12]:
df_aoq["date_local"]=pd.to_datetime(df_aoq["date_local"])

In [13]:
df_aoq["date_local"]=pd.to_datetime(df_aoq["date_local"])
df_aoq["date_local"]

0         2013-12-30
1         2013-12-30
2         2013-12-30
3         2013-12-30
4         2013-12-27
             ...
1076963   2021-01-02
1076964   2021-01-01
1076965   2021-01-01
1076966   2021-01-01
1076967   2021-01-01
Name: date_local, Length: 1076968, dtype: datetime64[ns]

In [14]:
df_aoq["date_local"].value_counts()

2018-11-10    580
2020-09-12    573
2020-10-18    572
2020-08-07    568
2020-10-06    568
             ...
2021-05-31      4
2021-05-17      4
2021-05-20      4
2021-05-23      4
2021-05-07      4
Name: date_local, Length: 3071, dtype: int64

In [15]:
df_aoq["date_local"].dt.year

0          2013
1          2013
2          2013
3          2013
4          2013
           ...
1076963    2021
1076964    2021
1076965    2021
1076966    2021
1076967    2021
Name: date_local, Length: 1076968, dtype: int64

In [16]:
df_aoq["Year"]=df_aoq["date_local"].dt.year

In [17]:
df_aoq.Year.value_counts()

2020    148407
2018    145216
2019    144649
2017    140540
2016    135334
2015    123712
2013    111619
2014    111486
2021     16005
Name: Year, dtype: int64

In [101]:
aoq=df_aoq[['Year','county','aqi']].groupby(["Year","county"]).agg(['count','min','max','mean','median']).reset_index()

In [102]:
aoq.columns = ['_'.join(col) for col in aoq.columns]

In [103]:
aoq

     Year_       county_  aqi_count  aqi_min  aqi_max   aqi_mean  aqi_median
0     2013       Alameda       4177      0.0    119.0  40.067273        38.0
1     2013         Butte       1292      4.0    109.0  38.229102        32.0
2     2013  Contra Costa       2868      4.0    115.0  38.174338        36.0
3     2013        Fresno       6409      2.0    176.0  51.877204        44.0
4     2013      Humboldt       1756      1.0     85.0  29.505695        27.0
..     ...           ...        ...      ...      ...        ...         ...
350   2021    Santa Cruz        712      0.0     73.0  22.544944        20.0
351   2021        Solano        472     11.0     84.0  39.694915        38.0
352   2021        Sonoma        236     11.0     67.0  29.050847        27.0
353   2021        Tehama        308      5.0     74.0  25.077922        19.0
354   2021       Ventura       2752      0.0     67.0  24.302326        21.0

[355 rows x 7 columns]

In [104]:
type(aoq)

pandas.core.frame.DataFrame

In [105]:
aoq.to_csv("aoq_agg_data.csv", encoding="utf-8", index=False)