In [1]:
! pip install -r requirements.txt

Requirement already satisfied: numpy in /Library/Frameworks/Python.framework/Versions/3.8/lib/python3.8/site-packages (from -r requirements.txt (line 1)) (1.19.5)
Requirement already satisfied: pandas in /Library/Frameworks/Python.framework/Versions/3.8/lib/python3.8/site-packages (from -r requirements.txt (line 2)) (1.2.0)
Requirement already satisfied: seaborn in /Library/Frameworks/Python.framework/Versions/3.8/lib/python3.8/site-packages (from -r requirements.txt (line 3)) (0.11.1)
Requirement already satisfied: matplotlib in /Library/Frameworks/Python.framework/Versions/3.8/lib/python3.8/site-packages (from -r requirements.txt (line 4)) (3.3.3)
Requirement already satisfied: siuba in /Library/Frameworks/Python.framework/Versions/3.8/lib/python3.8/site-packages (from -r requirements.txt (line 5)) (0.0.24)
Requirement already satisfied: CensusData in /Library/Frameworks/Python.framework/Versions/3.8/lib/python3.8/site-packages (from -r requirements.txt (line 6)) (1.13)
Requirement already satisfied: scipy in /Library/Frameworks/Python.framework/Versions/3.8/lib/python3.8/site-packages (from -r requirements.txt (line 7)) (1.6.3)
Requirement already satisfied: requests in /Library/Frameworks/Python.framework/Versions/3.8/lib/python3.8/site-packages (from CensusData->-r requirements.txt (line 6)) (2.25.1)
Requirement already satisfied: kiwisolver>=1.0.1 in /Library/Frameworks/Python.framework/Versions/3.8/lib/python3.8/site-packages (from matplotlib->-r requirements.txt (line 4)) (1.3.1)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.3 in /Library/Frameworks/Python.framework/Versions/3.8/lib/python3.8/site-packages (from matplotlib->-r requirements.txt (line 4)) (2.4.7)
Requirement already satisfied: python-dateutil>=2.1 in /Library/Frameworks/Python.framework/Versions/3.8/lib/python3.8/site-packages (from matplotlib->-r requirements.txt (line 4)) (2.8.1)
Requirement already satisfied: cycler>=0.10 in /Library/Frameworks/Python.framework/Versions/3.8/lib/python3.8/site-packages (from matplotlib->-r requirements.txt (line 4)) (0.10.0)
Requirement already satisfied: pillow>=6.2.0 in /Library/Frameworks/Python.framework/Versions/3.8/lib/python3.8/site-packages (from matplotlib->-r requirements.txt (line 4)) (8.1.0)
Requirement already satisfied: six in /Library/Frameworks/Python.framework/Versions/3.8/lib/python3.8/site-packages (from cycler>=0.10->matplotlib->-r requirements.txt (line 4)) (1.15.0)
Requirement already satisfied: pytz>=2017.3 in /Library/Frameworks/Python.framework/Versions/3.8/lib/python3.8/site-packages (from pandas->-r requirements.txt (line 2)) (2020.5)
Requirement already satisfied: PyYAML>=3.0.0 in /Library/Frameworks/Python.framework/Versions/3.8/lib/python3.8/site-packages (from siuba->-r requirements.txt (line 5)) (5.4.1)
Requirement already satisfied: SQLAlchemy>=1.1.18 in /Library/Frameworks/Python.framework/Versions/3.8/lib/python3.8/site-packages (from siuba->-r requirements.txt (line 5)) (1.4.17)
Requirement already satisfied: greenlet!=0.4.17 in /Library/Frameworks/Python.framework/Versions/3.8/lib/python3.8/site-packages (from SQLAlchemy>=1.1.18->siuba->-r requirements.txt (line 5)) (1.1.0)
Requirement already satisfied: certifi>=2017.4.17 in /Library/Frameworks/Python.framework/Versions/3.8/lib/python3.8/site-packages (from requests->CensusData->-r requirements.txt (line 6)) (2020.12.5)
Requirement already satisfied: chardet<5,>=3.0.2 in /Library/Frameworks/Python.framework/Versions/3.8/lib/python3.8/site-packages (from requests->CensusData->-r requirements.txt (line 6)) (4.0.0)
Requirement already satisfied: idna<3,>=2.5 in /Library/Frameworks/Python.framework/Versions/3.8/lib/python3.8/site-packages (from requests->CensusData->-r requirements.txt (line 6)) (2.10)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /Library/Frameworks/Python.framework/Versions/3.8/lib/python3.8/site-packages (from requests->CensusData->-r requirements.txt (line 6)) (1.26.2)
WARNING: You are using pip version 20.3.3; however, version 21.1.2 is available.
You should consider upgrading via the '/Library/Frameworks/Python.framework/Versions/3.8/bin/python3.8 -m pip install --upgrade pip' command.

In [1]:
# Loading the data
import pandas as pd
import numpy as np

In [15]:
import json
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
import base64
from datetime import datetime

In [58]:
with open("aqs/aqs_PM2.5_data_clean.json") as f:
    data=json.load(f)

In [59]:
df_aoq = pd.read_json("aqs/aqs_PM2.5_data_clean.json")

In [60]:
df_aoq.head()

,date_local,county,city,latitude,longitude,aqi,units_of_measure,first_max_value,first_max_hour
0,2011-12-31T00:00:00.000Z,San Luis Obispo,Arroyo Grande,35.04673,-120.58777,55,Micrograms/cubic meter (LC),13.8,0
1,2011-12-31T00:00:00.000Z,San Luis Obispo,Arroyo Grande,35.04673,-120.58777,55,Micrograms/cubic meter (LC),13.8,0
2,2011-12-31T00:00:00.000Z,San Luis Obispo,Arroyo Grande,35.04673,-120.58777,55,Micrograms/cubic meter (LC),13.8,0
3,2011-12-31T00:00:00.000Z,San Luis Obispo,Arroyo Grande,35.04673,-120.58777,55,Micrograms/cubic meter (LC),13.8,0
4,2011-12-30T00:00:00.000Z,San Luis Obispo,Arroyo Grande,35.04673,-120.58777,48,Micrograms/cubic meter (LC),11.5,0

In [61]:
type(df_aoq)

pandas.core.frame.DataFrame

In [62]:
df_aoq["county"].unique()

array(['San Luis Obispo', 'Los Angeles', 'Riverside', 'San Bernardino',
       'San Diego', 'Contra Costa', 'Imperial', 'Nevada', 'San Benito',
       'Solano', 'Yolo', 'Sutter', 'Lake', 'San Joaquin', 'Kern',
       'Alameda', 'San Mateo', 'San Francisco', 'Marin', 'Santa Barbara',
       'Ventura', 'Stanislaus', 'Orange', 'Fresno', 'Kings', 'Humboldt',
       'Santa Clara', 'Inyo', 'Santa Cruz', 'Madera', 'Merced', 'Shasta',
       'Placer', 'Sacramento', 'Monterey', 'Sonoma', 'Mendocino',
       'Tulare', 'Butte', 'Napa', 'Del Norte', 'Tehama'], dtype=object)

In [63]:
df_aoq["county"].value_counts()

Los Angeles        101075
Riverside           84586
Fresno              81124
Ventura             77667
Alameda             61748
San Diego           60580
San Luis Obispo     55797
Sacramento          45028
Santa Barbara       44874
Monterey            43676
San Bernardino      43172
Kern                42351
San Joaquin         41970
Santa Clara         40936
Stanislaus          29573
Inyo                29406
Imperial            27398
Mendocino           26954
Contra Costa        26213
Solano              26040
Santa Cruz          25147
Orange              25101
Kings               23339
Madera              19013
Merced              18359
Placer              18347
San Mateo           14750
San Benito          14544
San Francisco       14436
Sonoma              14332
Marin               14188
Sutter              13536
Humboldt            12136
Napa                11636
Butte               11432
Nevada               9909
Tehama               7240
Tulare               4617
Shasta               4036
Lake                 2504
Yolo                 2280
Del Norte            1888
Name: county, dtype: int64

In [64]:
df_aoq["date_local"].value_counts()

2018-11-10T00:00:00.000Z    580
2020-09-12T00:00:00.000Z    573
2020-10-18T00:00:00.000Z    572
2020-10-06T00:00:00.000Z    568
2020-08-07T00:00:00.000Z    568
                           ...
2021-05-25T00:00:00.000Z     20
2021-05-20T00:00:00.000Z     20
2021-05-17T00:00:00.000Z     16
2021-05-28T00:00:00.000Z     16
2021-05-27T00:00:00.000Z     16
Name: date_local, Length: 3804, dtype: int64

In [65]:
df_aoq["date_local"]=pd.to_datetime(df_aoq["date_local"])

In [66]:
df_aoq["date_local"]=pd.to_datetime(df_aoq["date_local"])
df_aoq["date_local"]

0         2011-12-31 00:00:00+00:00
1         2011-12-31 00:00:00+00:00
2         2011-12-31 00:00:00+00:00
3         2011-12-31 00:00:00+00:00
4         2011-12-30 00:00:00+00:00
                     ...
1272933   2021-01-02 00:00:00+00:00
1272934   2021-01-01 00:00:00+00:00
1272935   2021-01-01 00:00:00+00:00
1272936   2021-01-01 00:00:00+00:00
1272937   2021-01-01 00:00:00+00:00
Name: date_local, Length: 1272938, dtype: datetime64[ns, UTC]

In [67]:
df_aoq["date_local"].value_counts()

2018-11-10 00:00:00+00:00    580
2020-09-12 00:00:00+00:00    573
2020-10-18 00:00:00+00:00    572
2020-08-07 00:00:00+00:00    568
2020-10-06 00:00:00+00:00    568
                            ...
2021-05-24 00:00:00+00:00     20
2021-05-11 00:00:00+00:00     20
2021-05-17 00:00:00+00:00     16
2021-05-27 00:00:00+00:00     16
2021-05-28 00:00:00+00:00     16
Name: date_local, Length: 3804, dtype: int64

In [68]:
df_aoq["date_local"].dt.year

0          2011
1          2011
2          2011
3          2011
4          2011
           ...
1272933    2021
1272934    2021
1272935    2021
1272936    2021
1272937    2021
Name: date_local, Length: 1272938, dtype: int64

In [69]:
df_aoq["Year"]=df_aoq["date_local"].dt.year

In [70]:
df_aoq.Year.value_counts()

2020    148455
2018    145216
2019    144649
2017    140540
2016    135334
2015    123712
2013    111619
2014    111486
2012    101440
2011     85466
2021     25021
Name: Year, dtype: int64

In [71]:
aoq=df_aoq[['Year','county','aqi']].groupby(["Year","county"]).agg(['count','min','max','mean','median']).reset_index()

In [72]:
aoq.columns = ['_'.join(col) for col in aoq.columns]

In [73]:
aoq

     Year_       county_  aqi_count  aqi_min  aqi_max   aqi_mean  aqi_median
0     2011       Alameda       3132        1      135  36.061303        33.0
1     2011         Butte        244        4      141  41.196721        29.0
2     2011  Contra Costa       1116        4      131  32.440860        25.0
3     2011        Fresno       5109        2      163  50.888432        41.0
4     2011      Humboldt       1336        0       78  31.517964        28.0
..     ...           ...        ...      ...      ...        ...         ...
436   2021        Sonoma        236       11       67  29.050847        27.0
437   2021    Stanislaus        124       24      120  66.838710        63.0
438   2021        Sutter        124        8       78  41.032258        43.0
439   2021        Tehama        308        5       74  25.077922        19.0
440   2021       Ventura       2752        0       67  24.302326        21.0

[441 rows x 7 columns]

In [104]:
type(aoq)

pandas.core.frame.DataFrame

In [75]:
aoq.to_csv("aoq_agg_data.csv", encoding="utf-8", index=False)