In [1]:
#boot up libraries
import pandas as pd
from sklearn import preprocessing

In [2]:
#load up full csv
df = pd.read_csv("cleaned_data/complete_merged_table.csv")

In [3]:
df

,County,Year,Total_Population,Median_Income,White_Perc,Poverty_Perc,Uninsured_Perc,Asthma_Incidents,Asthma_Rate,Acres_Burned,Duration,Wildfire_Count,AQ_Min,AQ_Max,AQ_Mean,AQ_Median
0,Alameda,2011,1656754.0,43583.0,0.314137,0.097529,0.037430,6706,56.6,0.0,0,0.0,1.0,135.0,36.061303,33.0
1,Alameda,2012,1656754.0,43583.0,0.314137,0.097529,0.037430,6965,58.4,0.0,0,0.0,0.0,96.0,31.979620,30.0
2,Alameda,2013,1656754.0,43583.0,0.314137,0.097529,0.037430,6705,55.0,478.0,0,4.0,0.0,119.0,40.067273,38.0
3,Alameda,2014,1656754.0,43583.0,0.314137,0.097529,0.037430,6332,51.6,0.0,0,0.0,0.0,119.0,33.979899,31.0
4,Alameda,2015,1656754.0,43583.0,0.314137,0.097529,0.037430,6513,53.1,3340.0,5,5.0,0.0,124.0,36.424754,33.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
374,Yuba,2015,76360.0,27877.0,0.551925,0.151545,0.060071,215,39.5,188.0,6,2.0,NaN,NaN,NaN,NaN
375,Yuba,2016,76360.0,27877.0,0.551925,0.151545,0.060071,202,37.7,400.0,0,1.0,NaN,NaN,NaN,NaN
376,Yuba,2017,76360.0,27877.0,0.551925,0.151545,0.060071,245,45.1,10981.0,950,6.0,NaN,NaN,NaN,NaN
377,Yuba,2018,76360.0,27877.0,0.551925,0.151545,0.060071,227,40.8,0.0,0,0.0,NaN,NaN,NaN,NaN
378,Yuba,2019,76360.0,27877.0,0.551925,0.151545,0.060071,233,41.6,268.0,9,4.0,NaN,NaN,NaN,NaN

## Trying it with crosstabs

The crosstabs function wouldn't make sense because it only measures frequency.

In [ ]:
def API_index(df):
    for x in range(len(df)):
        if df.iloc[x,13] < 50:
            df.loc[x, 'max_aq_index'] = 'good'
        elif 51 < df.iloc[x,13] < 100:
            df.loc[x, 'max_aq_index'] = 'moderate'
        elif 101 < df.iloc[x,13] < 150:
            df.loc[x, 'max_aq_index'] = 'unhealthy for senstive'
        elif 151 < df.iloc[x,13] < 200:
            df.loc[x, 'max_aq_index'] = 'unhealthy'
        elif 201 < df.iloc[x,13] < 300:
            df.loc[x, 'max_aq_index'] = 'very unhealthy'
        elif 301 < df.iloc[x,13]:
            df.loc[x, 'max_aq_index'] = 'hazardous'

In [ ]:
API_index(df)

In [ ]:
df

In [ ]:
table = pd.crosstab(index=df['County'], columns=df['max_aq_index'], normalize='index')

## Here is another way we can normalize

Is normalizing it the right approach? I'm reading up on normalization that they say that we'd only normalize to standardize all the fields. Am I misunderstanding this?

In [25]:
df2 = df[['County', 'Median_Income', 'AQ_Max']]

In [12]:
df2

      County  Median_Income  AQ_Max  norm_income
0    Alameda        43583.0   135.0     0.731868
1    Alameda        43583.0    96.0     0.731868
2    Alameda        43583.0   119.0     0.731868
3    Alameda        43583.0   119.0     0.731868
4    Alameda        43583.0   124.0     0.731868
..       ...            ...     ...          ...
374     Yuba        27877.0     NaN     0.278213
375     Yuba        27877.0     NaN     0.278213
376     Yuba        27877.0     NaN     0.278213
377     Yuba        27877.0     NaN     0.278213
378     Yuba        27877.0     NaN     0.278213

[379 rows x 4 columns]

In [26]:
def norm_income(df):
    for x in range(len(df)):
        norm = (df.iloc[x,1]-df['Median_Income'].min())/(df['Median_Income'].max()-df['Median_Income'].min())
        df.loc[x, 'norm_income'] = norm
        
def norm_max_aq(df):
    for x in range(len(df)):
        norm = (df.iloc[x,2]-df['AQ_Max'].min())/(df['AQ_Max'].max()-df['AQ_Max'].min())
        df.loc[x, 'norm_aq_max'] = norm

In [27]:
norm_income(df2)
norm_max_aq(df2)

In [28]:
df2

      County  Median_Income  AQ_Max  norm_income  norm_aq_max
0    Alameda        43583.0   135.0     0.731868     0.202381
1    Alameda        43583.0    96.0     0.731868     0.125000
2    Alameda        43583.0   119.0     0.731868     0.170635
3    Alameda        43583.0   119.0     0.731868     0.170635
4    Alameda        43583.0   124.0     0.731868     0.180556
..       ...            ...     ...          ...          ...
374     Yuba        27877.0     NaN     0.278213          NaN
375     Yuba        27877.0     NaN     0.278213          NaN
376     Yuba        27877.0     NaN     0.278213          NaN
377     Yuba        27877.0     NaN     0.278213          NaN
378     Yuba        27877.0     NaN     0.278213          NaN

[379 rows x 5 columns]